In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [43]:
k1 = 7.5778e-1
k2 = 1.9520e-16
k3 = 3.1614e-2
k4 = 3.6708e-29 #(in per ns)

In [44]:
# k1 = 0.01
# k2 = 1e-16
# k3 = 0.0001
# k4 = 1e-25

In [45]:
def timestep(A, B, C):
    delta_A = -A*(k1 + k3) + k2*B + k4*C
    delta_B = k1*A - k2*B
    delta_C = k3*A - k4*C
    
    A += delta_A
    B += delta_B
    C += delta_C
    
    return([A, B, C])

In [46]:
def simulation(A_initial, B_initial, C_initial, num_steps):
    A_values = [A_initial]
    B_values = [B_initial]
    C_values = [C_initial]
    
    for i in range(num_steps):
        dummy = timestep(A_values[-1], B_values[-1], C_values[-1])
        A_values.append(dummy[0])
        B_values.append(dummy[1])
        C_values.append(dummy[2])
    
    output = {'Timestep':np.linspace(0, num_steps, num_steps+1), 'A':A_values, 'B':B_values, 'C':C_values}
    df = pd.DataFrame(output)
    return(df)

In [49]:
simulation(1, 0, 0, 10000000)

            Timestep             A         B         C
0                0.0  1.000000e+00  0.000000  0.000000
1                1.0  2.106060e-01  0.757780  0.031614
2                2.0  4.435489e-02  0.917373  0.038272
3                3.0  9.341405e-03  0.950984  0.039674
4                4.0  1.967356e-03  0.958063  0.039970
...              ...           ...       ...       ...
9999996    9999996.0  2.373752e-16  0.959952  0.040048
9999997    9999997.0  2.373752e-16  0.959952  0.040048
9999998    9999998.0  2.373752e-16  0.959952  0.040048
9999999    9999999.0  2.373752e-16  0.959952  0.040048
10000000  10000000.0  2.373752e-16  0.959952  0.040048

[10000001 rows x 4 columns]

In [4]:
np.linspace(0, 10, 11)

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])